.login{
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-title{
        font-weight: bold;
        font-size: 24px;
        margin-top: 1em;
    }

    form{
        max-width: 400px;
        margin: 2em 0;
        font-weight: bold;
        font-size: 18px;

        label{
            margin: .5em;
            display: flex;
            flex-direction: column;
        }

        input{
            border: 2px solid black;
            padding: 5px 10px;
            font-size: 18px;
        }

        button{
            margin-top: 1em;
        }
    }

}