@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

nav{
    margin-bottom: 1em;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
    letter-spacing: 1px;

    img{
        max-height: 100px;
    }

    ul{
        margin: auto 2em 0em 2em;
        
        li{
            display: inline-block;
            list-style-type: none;
            margin: 0 1em .2em 0;
        }
    }

    .admin-ul{
        margin-left: auto;
    }

    .active{
        text-decoration: underline;
    }
}