@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

/*
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
*/

body{
 font-family: 'Montserrat', sans-serif;
}